<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invisible Movement</title>

    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/print.css" media="print" />

    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
  </head>
  <body>
    <main>
      <div id="nav-container">
        <div id="nav-arrows">
          <img id="previous" src="assets/arrow.png" alt="previous" />
          <img id="next" src="assets/arrow.png" alt="next" />
          <h3 id="current-day">Dezembro 2024</h3>
        </div>

        <div id="view-selection">
          <label for="day"><input type="radio" id="day" name="view" value="day" checked />Dia</label>
          <label for="week"><input type="radio" id="week" name="view" value="week" />Semana</label>
          <label for="month"><input type="radio" id="month" name="view" value="month" />Mês</label>
          <label for="year"><input type="radio" id="year" name="view" value="year" />Ano</label>
        </div>

        <% if (tokens) { %>
          <a id="login-link" href="/logout">Logout</a>
        <% } else { %>
        <a id="login-link" href="/login">Login</a>
        <% } %>
      </div>

      <div id="vis-container"></div>
    </main>

    <script src="/scripts/fetchData.js"></script>    
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/visualization.js"></script>    
  </body>
</html>
