@media print {
    @page {
      margin: 0;
      padding: 0;
      size: A5 landscape;
    }
    body {
      background: transparent;
      overflow: hidden;
    }
    #nav-container {
      display: none !important;
    }
    #vis-container {
      display: block !important;
      overflow: hidden;
      height: 100%;
    }
    #vis-container svg{
      width: 100%;
      height: 100%;
    }
  }